.head-form {
    background-color: rgb(40, 38, 38);
    padding: 30px;
}

.form {
    width: fit-content;
    margin: auto;
}

.form input {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
}

.form button {
    padding: 4px 12px;
    border-radius: 8px;
}

.inside-container {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
}

.content b {
    margin-bottom: 10px;
}

.inside-container p {
    margin-bottom: 2px;
}